.result__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.result {
    text-align: center;
}

.result__text--correct {
    color: #FF0000;
}

.result__text--incorrect {
    color: #0000FF;
}

.answer-table {
    border: 1px solid #dddddd;
}

.answer-table__inner {
    width: 100%;
}

.answer-table__header{
    padding: 15px;
    width: 205;
    border-bottom: 1px solid #dddddd;
    background-color: #eeeeee;
    font-weight: bold;
}

.anser-table__text {
    padding: 15px;
    border-bottom: 1px solid #dddddd;
}

.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text{
    border-bottom-width: 0 ;
}